/*@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
*/
$header-height: 3em;

@-webkit-keyframes appear {
	from {
		color: red;
	}
	to {
		color: yellow;
	}
}

@-webkit-keyframes type {
	from {
		width: 0;
	}
}

body {
	margin: 0;
}

.header {
	display: flex;
	justify-content: flex-end;
	height: $header-height;
	background-color: black;
	color: white;
	z-index: 1;
}

.header_content {
	width: 100px;
	line-height: $header-height;
}

.panel {
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100%;
	background-color: red;
	z-index: -1;
}

.introduction {
	position: absolute;
	top: 30vh;
	left: 40vw;
	overflow: hidden;
	white-space: nowrap;
	width: 10em;
	animation: type 4s steps(60, end);
	border-right: 0.1px solid black;
}