$header-height: 4em;
$content-bg: rgba(0, 0, 0, 0.7);
$content-color: white;
$content-font-family: 'Barlow Semi Condensed', sans-serif;
$type-time: 2s;
$col1: #EF5455;
$col2: #2B3252;
$col3: #fad744;

h1 {
	margin: 0;
}

p{
	margin: 0;
}

a {
	text-decoration: inherit;
	color: inherit;
}

@-webkit-keyframes appear {
	from {
		width: 0;
	}
}

@-webkit-keyframes fadeIn {
	from {
        opacity: 0;
	}
	to {
		opacity: 1;
	}
}

body {
	margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    background-color: rgb(211, 211, 211);
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: gray;
}

#header {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	height: $header-height;
	//background-color: rgba(255, 255, 255, 0.1);
	color: rgb(239, 238, 232);
	z-index: 2;
	font-family: $content-font-family;
	animation: fadeIn 1s;
	opacity: 0;
	animation-delay: $type-time + 1s;
	animation-fill-mode: forwards;
}

.header_content {
	width: 100px;
	line-height: $header-height;
	text-align: center;
	border-bottom: transparent;
	line-height: $header-height;
	transition: border-bottom 0.5s ease-in-out;
}

.header_content:hover {
	color: $col3;
	cursor: pointer;
	border-bottom: solid 2px $col3;
}

#about_tag {
	color: $col3;
	border-bottom: solid 2px $col3;
}

#about_tag, #interests_tag, #contact_tag, #resume_tag {
	margin-right: 1rem;
}

#background_image_1 {
	top: 0;
	height: 100vh;
	width: 100%;
	background-color: $col2;
	//background-image: url("../images/introduction_image.png");
	background-size: 100% 100%;
	z-index: 0;
}

#background_image_2 {
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100%;
	background-color: $col1;
	z-index: -1;
}

#background_image_3 {
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100%;
	background-color: $col3;
	z-index: -1;
}

#panel_introduction {
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100%;
	z-index: 1;
}

#introduction-container {
	position: absolute;
	top: 1.25*$header-height;
	left: 50%;
	transform: translateX(-50%);
}

#introduction_image {
	position: relative;
	background-image: url('../images/self.jpeg');
	background-size: 100% 100%;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	opacity: 0;
	animation: fadeIn 3s;
	animation-fill-mode: forwards;
}

#introduction-title {
	font-size: 5em;
	width: 9em;
	color: $col3;
	overflow: hidden;
	white-space: nowrap;
	animation: appear $type-time steps(40, end);
	position: relative;
	text-align: center;
	font-family: 'Passion One', cursive;
}

#introduction-bio {
	position: relative;
	opacity: 0;
	animation: fadeIn 1s;
	animation-delay: $type-time;
	animation-fill-mode: forwards;
	font-size: 2em;
	text-align: center;
	color: #f0e9e9;
	font-family: 'Passion One', cursive;
}

#introduction-text {
	position: relative;
	color: $col1;
	font-family: 'Passion One', cursive;
}

.icon-container {
	padding: 5px;
}

.content {
	background-color: $content-bg;
	color: $content-color;
	border-radius: 5px;
	text-align: center;
	box-shadow: 0 0 5px gray;
	padding: 1em 1em 1em 1em;
	font-family: $content-font-family;
}

#profiles {
	z-index: 2;
	position: fixed;
	padding: 3px;
	bottom: 0;
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #ddeba9;
}

svg:hover {
	transform: scale(1.1);
}

#panel_about, #panel_interests {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 1rem;
}

#panel_interests {
	opacity: 0;
}

#about_content, #interests_content{
	z-index: 1;
	position: relative;
	background-color: $col3;
	color: $col2;
	font-size: 1.5rem;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	animation: fadeIn 1s;
	animation-delay: $type-time + 0.5s;
	animation-fill-mode: forwards;
}

.heading {
	text-align: center;
	font-family: 'Spectral SC', serif;
	padding: 1em;
}

#interests_heading {
	background-color: rgba(221, 86, 37, 1);
}
/*
#interests_content {
	position: absolute;
	top: 20%;
	width: 50%;
	left: 25%;
}
*/