/*@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
*/
$header-height: 4em;
//$content-bg: rgba(91, 91, 80, 0.5);
$content-bg: rgba(0, 0, 0, 0.7);
$content-color: white;

h1 {
	margin: 0;
}

a {
	text-decoration: inherit;
	color: inherit;
}

@-webkit-keyframes type {
	from {
		width: 0;
	}
}

body {
	margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    background-color: rgb(211, 211, 211);
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    
    background-color: gray;
}

.header {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	height: $header-height;
	background-color: rgba(255, 255, 255, 0.1);
	color: rgb(239, 238, 232);
	z-index: 2;
}

.header_content {
	width: 100px;
	line-height: $header-height;
	text-align: center;
	line-height: $header-height;
}

.header_content:hover {
	color: yellow;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.1);
}

#introduction_image {
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100%;
	background-color: gray;
	background-image: url("../images/introduction_image.png");
	background-size: 100% 100%;
	z-index: -1;
}

.panel_introduction {
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100%;
	z-index: 1;
}

.introduction {
	position: absolute;
	top: 20vh;
	left: 10%;
	overflow: hidden;
	white-space: nowrap;
	font-family: 'Passion One', cursive;
	font-size: 5em;
	width: 9em;
	animation: type 2s steps(40, end);
	color: yellow;
}

.content {
	background-color: $content-bg;
	color: $content-color;
	border-radius: 5px;
	text-align: center;
	box-shadow: 0 0 5px gray;
	padding-right: 1em;
	padding-left: 1em;
}

#introduction_bio {
	position: absolute;
	left: 10%;
	top: 45vh;
	display: none;
	background-color: rgb(221, 86, 37);
	font-family: 'Passion One', cursive;
	font-size: 2em;
}

.panel_about {
	position: absolute;
	top: 100vh;
	height: 80vh;
	width: 100%;
}

#about_content {
	z-index: 1;
	position: absolute;
	top: 5%;
	width: 40%;
	left: 30%;
	background-color: $content-bg;
	color: white;
	font-size: 1.5em;
	font-family: 'Barlow Semi Condensed', sans-serif;
}

.panel_interests {
	position: absolute;
	z-index: 1;
	top: 180vh;
	height: 100vh;
	background-color: rgb(239, 238, 232);
	background-color: rgba(221, 86, 37, 0.5);
	width: 100%;
}

.heading {
	text-align: center;
	font-family: 'Spectral SC', serif;
	padding: 1em;
}

#interests_heading {
	background-color: rgba(221, 86, 37, 1);
}

#interests_content {
	position: absolute;
	top: 20%;
	width: 50%;
	left: 25%;
}