<html>
<head>
	<title>
		Nikhil Kaushik
	</title>
	<link rel="stylesheet" type="text/css" href="../assets/blog.css">
</head>
<body>
	<div id = "container">
	  {% for post in site.posts %}
	    <div id = "post-intro-div" class = "post">
	    	<div id = "post-title-div" class = "post">
	      		<a href="{{ post.url }}">{{ post.title }}</a>
	      	</div>
	      	<div id = "post-summary-div" class = "post">
	      		{{ post.summary }}
	      	</div>
	    </div>
	  {% endfor %}
	</div>
</body>
</html>