<html>
<head>
	<title>
		Nikhil Kaushik
	</title>
	<link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../assets/blog.css">
</head>
<body>
	<div id = "container">
	  {% for post in site.posts %}
	    <div id = "post-intro-div">
	    	<div id = "post-title-div" class = "title">
	      		<a href="{{ post.url }}"><span class="highlight-1">{{ post.title }}</span></a>
			  </div>
			  <p class="padded-left" style="padding-left: 2rem;">
					<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
						{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
						{{ post.date | date: date_format }}
					</time>
					{% if post.author %}
						• <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>
					{% endif %}
				</p>
	      	<div id = "post-summary-div" class = "text">
	      		<span>
					{{ post.summary }}
				</span>
	      	</div>
	    </div>
	  {% endfor %}
	</div>
</body>
</html>