<!DOCTYPE html>
<html>
<head>
	<title>
		Nikhil Kaushik
	</title>
	<link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="./assets/main.css">
</head>
<body>

<div id = "header">
	
	<!--<a href="#about_link">-->
		<div class = "header_content" id = "about_tag">
			About		
		</div>
	</a>

	<!--<a href="#interests_link">-->
		<div class = "header_content" id = "interests_tag">
			Interests
		</div>
	</a>

	<div class = "header_content" id = "contact_tag">
			Contact
	</div>

	<a href="./images/resume.pdf">
		<div class = "header_content" id = "resume_tag">
			Resume
		</div>
	</a>

	<a href = "https://www.intendedpoetry.wordpress.com">
		<div class = "header_content" id = "blog_tag">
			Blog
		</div>
	</a>

</div>

<div id = "background_image_1"></div>

<div id = "panel_introduction">
	<div id = "introduction-container">
		<!--<div id = "introduction_image" class = "introduction"></div> -->
		<div id = "introduction-title" class="introduction">
			<p>
				Hi! <span id = "introduction-text">I'm Nikhil Kaushik.</span>
			</p>
		</div>

		<div id = "introduction-bio" class="introduction">
			<p>
				Writer. Coder. Philosopher.
			</p>

			<div id = "panel_about">

				<a name = "about_link"></a>
			
				<div class = "content text-center" id = "about_content">
					<p>
						CSE undergrad, IIT Roorkee.
						<br>Program computers.
						<br>Fond of learning.
						<br>Creative writer.
						<br>Like to read.
						<br>Optimist.<br> Poetic soul.<br>Arsenal supporter.
						<br>Occasionally sarcastic.<br>Sometimes sentimental.
					</p>
				</div>
			
			</div>



			<div id = "panel_interests">

				<a name = "interests_link"></a>
			
				<div class = "content" id = "interests_content">
					<p>
						<p align="center" margin><b><u>Interests</u></b></p>
						<span style="height: 0.5rem; display: block;"></span>
						<ul><li>Writing computer programs.</li>
						<li>Curious about:
						<ul>
							<li>Computer networks.</li>
							<li>Operating systems.</li>
							<li>Systems software.</li>
							<li>Web security.</li>
							<li>Distributed systems.</li>
						</ul></li>
						<li>Reading novels.</li>
						<li>Creative writing.</li></ul>
					</p>
				</div>
			
			</div>



			<div id = "panel_contact">
				<a name = "contact_link"></a>
				<div class = "content" id = "contact_content">
					<form action="https://getform.io/f/24312eac-c28e-4052-ad92-b71e3820e781" method="POST">
						<label for="name">Name:</label><br>
						<input type="text" size="25" name="name"><br>
						<label for="email">Email:</label><br>
						<input type="email" name="email" size="25"><br>
						<label for="message">Message:</label><br>
						<textarea name="message" rows="6" cols="30"></textarea><br>
						<button type="submit" style="position: relative; left: 50%; transform: translateX(-50%);">Send</button>
					  </form>
				</div>
			
			</div>
		</div>
	</div>

</div>

<div id = "background_image_2"></div>

<div id = "background_image_3"></div>

<div id = "profiles">
	{% if site.github_username %}
	<div class = "icon-container">
		<a href = "https://www.github.com/{{ site.github_username }}">
			<span class = "icons" id = "icon-github">
				{% include icon-github.svg %}
			</span>
		</a>
		{% endif %}
	</div>

	{% if site.linkedin_username %}
	<div class = "icon-container">
		<a href = "https://www.linkedin.com/in/{{ site.linkedin_username }}">
			<span class = "icons" id = "icon-linkedin">
				{% include icon-linkedin.svg %}
			</span>
		</a>
		{% endif %}
	</div>
</div>

</body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="./assets/main.js"></script>
<script>
	window.onload = function() {
		document.getElementById('about_tag').addEventListener('click', function() {
			document.getElementById('panel_interests').style.opacity = document.getElementById('panel_contact').style.opacity = 0;
			document.getElementById('panel_about').style.opacity = 1;
			document.getElementById('about_tag').style.color = "#FAD744";
			document.getElementById('about_tag').style.borderBottom = "solid 2px";
			document.getElementById('interests_tag').style.color = document.getElementById('contact_tag').style.color = "rgb(239, 238, 232)";
			document.getElementById('interests_tag').style.borderBottom = document.getElementById('contact_tag').style.borderBottom = "none";
		});

		document.getElementById('interests_tag').addEventListener('click', function() {
			document.getElementById('panel_interests').style.opacity = 1;
			document.getElementById('panel_about').style.opacity = document.getElementById('panel_contact').style.opacity = 0;
			document.getElementById('interests_tag').style.color = "#FAD744";
			document.getElementById('interests_tag').style.borderBottom = "solid 2px";
			document.getElementById('about_tag').style.color = document.getElementById('contact_tag').style.color = "rgb(239, 238, 232)";
			document.getElementById('about_tag').style.borderBottom = document.getElementById('contact_tag').style.borderBottom = "none";
		});

		document.getElementById('contact_tag').addEventListener('click', function() {
			document.getElementById('panel_interests').style.opacity = document.getElementById('panel_about').style.opacity = 0;
			document.getElementById('panel_contact').style.opacity = 1;
			document.getElementById('contact_tag').style.color = "#FAD744";
			document.getElementById('contact_tag').style.borderBottom = "solid 2px";
			document.getElementById('about_tag').style.color = document.getElementById('interests_tag').style.color = "rgb(239, 238, 232)";
			document.getElementById('about_tag').style.borderBottom = document.getElementById('interests_tag').style.borderBottom = "none";
		});
	}
</script>
</html>